**.DS_Store
**/virtualenv
build
DIC/BigData/openfaas/template
DIC/Stream/openfaas/template
DIC/WebServices/openfaas/python-code/template
**/__pycache__
DIC/envs/Runtimes/ml-inference-with-data-RT/models
DIC/envs/Runtimes/ml-inference-with-data-RT/testData
DIC/envs/ML_model_training/reuters
DIC/MachineLearning/*/*/model
DIC/MachineLearning/*/*/data
DIC/envs/Bigdata/stream_data/
workload-bench
images
**/prom_data*
**/loki_data*
**.log
